body {
    margin: 0;
    background-color: white;
}

.HContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.VContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    margin: 0;
    background-color: #e9d28f;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: #14213D;
    margin-top: 0;
    margin-left: 1%;
    margin-bottom: auto;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
.content {
    background-color: #ece7ca;
    width: 75%;
    padding-left: 2%;
    padding-right: 2%;
}

.trailer-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.trailer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#actors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 800px), (min-width: 200px){
    .castmini {
        flex: 10%;
    }
}


#cover {
    margin: 0 auto;
    width: 50%;
    height: auto;
}

nav, ul {
    margin-bottom: 0;
    
}
nav, ul, li {
    display: inline;
}

footer {
    
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e9d28f;
    color: #14213D;
}

/* #14213D */
/* #ece7ca */
/* #e9d28f */
/* #255957 */
/* #62BEC1 */