body {
    margin: 0;
    background-color: white;
}
header {
    margin: 0;
    background-color: beige;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 74px;
    text-align: center;
}
/* #14213D */
/* #ece7ca */
/* #e9d28f */
/* #255957 */
/* #62BEC1 */